<app-navigation></app-navigation>

<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">About Page Works</h1>
    <p>
      <img src = "/assets/under.jpg" alt = "under construction" />
    </p>
    <p>This is a template for about page. It also includes a large callouts called a jumbotron and three supporting pieces of content. I personal use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" routerLink='#' role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Coming Soon!</p>
      <p><a class="btn btn-secondary" routerLink='#' role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Coming Soon!</p>
      <p><a class="btn btn-secondary" routerLink='#' role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Coming Soon!</p>
      <p><a class="btn btn-secondary" routerLink='#' role="button">View details &raquo;</a></p>
    </div>
  </div>

  <hr>


</div> <!-- /container -->

