
<app-navigation></app-navigation>

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Dashboard Page</h1>
    <p>
      <img src = "/assets/under.jpg" alt = "under construction" />
    </p>
  </div>
</section>

<div class="album text-muted">
  <div class="container">

    <div class="row">
      <div class="cagit add README.mdrd">
        <img src="/assets/back.jpg" alt="Back ground pic">
        <p class="card-text"> ***************Still under construction*******************</p>
      </div>
    </div>

  </div>
</div>
