<app-navigation></app-navigation>

<div class="container">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong class="">Create Account</strong>
        </div>
        <div class="panel-body">
          <form class="form-horizontal" role="form" (submit)="register($event)">
            <div class="form-group">
              <label for="inputEmail" class="col-sm-3 control-label">Full Name</label>
              <div class="col-sm-9">
                <input type="email" class="form-control" id="inputName" placeholder="Full name please" required="">
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail" class="col-sm-3 control-label">Email Address</label>
              <div class="col-sm-9">
                <input type="email" class="form-control" id="inputEmail" placeholder="Email address" required="">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword" class="col-sm-3 control-label">Password</label>
              <div class="col-sm-9">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password" required="">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword" class="col-sm-3 control-label">Confirm Password</label>
              <div class="col-sm-9">
                <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Confirm password" required="">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox">
                  <label class="">
                    <input type="checkbox" class="">Remember me</label>
                </div>
              </div>
            </div>
            <div class="form-group last">
              <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-success btn-sm">Sign Up</button>
                <button type="reset" class="btn btn-default btn-sm">Reset</button>
              </div>
            </div>
          </form>
        </div>
        <div class="panel-footer">Already have an account with me? <a routerLink='' class="">Sign in here</a></div>
      </div>
    </div>
  </div>
</div>


